# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num = 6

print(num)

6

##### Assinging float

In [3]:
numfloat = 6.667
print(numfloat)
print(float(num))

6.667
6.0

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 3
num2 = 5.5
num3 = 10

result = num1 + num2
result
    #shorthand
# +=
result +=5
print(result)
result = result +5
print(result)

13.5

##### Subtraction

In [9]:
diff_result = num3 - num2

print(diff_result)

#shorthand -=

4.5

##### Multiplication

In [11]:
result_mul= num1 * num3
print(result_mul)

#shorthand *=

30

##### Division

In [13]:
result_div = num3/num1
print(result_div)
print(100/10)

#shorthand =/

3.3333333333333335
10.0

##### Floor Division

In [15]:
result_floor = num3//num1
print(result_floor)

print(99//10)

#shorthand //=

3
9

##### Modulo

In [16]:
result_mod = num3 % num1

print(result_mod)

#shorthand %=

1

##### Exponential

In [17]:
square = 5**2

print(square)

#shorthand **=

25

### String Input-Output

##### String Assignment

In [18]:
name = 'Sarah'
randomname = "Jane"

print('Hi ' )
print(name)

Hi
Sarah

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print('Hi my name is', name)

print('Full Name', name, end='Martin')

# sep='<seporator goes here>'

Hi my name is Sarah
Full Name SarahMartin

##### String Concatenation

In [23]:
first_name ="Jonah"
last_name = "Hill"

full_name = first_name +" " + last_name
#shorthand still applies
full_name += "isanactor"
print(full_name)

'Jonah Hill'

##### Type Conversion

In [26]:
string_num = '67'
print(type(string_num), string_num)
x=int(string_num)
y= float(string_num)

print(type(y), y)
print(type(x), x)

<class 'str'> 67
<class 'float'> 67.0
<class 'int'> 67

##### input()

In [ ]:
# the main thing to remember about input() is that is always returns a string!


som_input = input('type your age')

print(som_input, type(som_input))

##### format()

In [ ]:
age = input('what is your age?')

result_string = 'You\'re {} years old  {}'.format{age, name}
print(result_string)

# Better way
# f-string

other_result = f"You're {age} years old {name}"
# basic f-string formula = f + quotes with python variables in {}
print(other_result)

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [29]:
color = input('What color is your car?')
year = input ('What year is your car?')
make = input ('What make is your car?')
model = input ('What model is your car?')


result_string = f"The car for you is {color} {year} {make} {model}"
print(result_string)

What color is your car?blue
What year is your car?2005
What make is your car?Highlander
What model is your car?clueless
The car for you is blue + 2005 + Highlander + clueless

### If Statements

In [36]:

# a single = is assigning a value
# a double == is checking for equality

#my_var = 7
#print(my_var == 7)
#print(my_var == '7')



# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 5
num2= 10

if num2 == num1:
    print('Equal')
else:
    print('Not equal')
    
if num2 >= num1:
    print('num2 is greater or maybe equal')
elif num1 <= num2:
    print('num1 is less than')

Not equal
num2 is greater or maybe equal

##### 'is' keyword

In [38]:
# We'll use this when checking a similar/same object but not same value!

a_num = 34

if a_num is 34:
    print('this is the exact number/object')
if a_num == 34:
    print('this is the DOUBLE EQUALS VERSION')

this is the exact number/object
this is the DOUBLE EQUALS VERSION

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/yg/4tw8lgw52xn_y09pn6v_5ty80000gn/T/ipykernel_9920/1012862863.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a_num is 34:

##### 'in' keyword

In [41]:
# Membership checks!

new_name = "Logan"

if 'a' in new_name:
    print('yep it is in there!')
        
if 'z' in new_name:
    print('yep it is in there!')

yep it is in there!

##### 'not in' keyword'

In [45]:

if 'z' not in new_name:
    print('NOT in there!')

NOT in there!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [54]:
something = input('what is your name?')

if 'p' in second_name:
    print('yes, it is in there!')
if 'p' not in second_name:
    print('Sorry, not in there')

TypeError: 'str' object is not callable

## Using 'and'/'or' with If Statements

In [59]:
nums1 = 15
nums2 = 3
nums3 = 10
nums4 = 3

# with the 'AND' statement

if nums1 /5 == nums2 and nums3 - 7 == nums4:
    print('True and True')
    
# with 'OR' statment

if nums1 > nums2 or nums3 == nums4:
    print('True and False')

True and True
True and False

### Elif Statements

In [61]:
# check equal --> ==
# not equal check --> !=

first_name = 'Max'

if first_name == 'Smith':
    print('the name is Smith')
elif first_name != 'Max':
    print('name is NOT Max')
else:
    print('This is what will print with the string Max')

This is what will print with the string Max

### Else Statements

In [ ]:
# see above
# Else is NOT required
# Any other case?

### For Loops

In [63]:
# for keyword, counter, in keyword, condition
#for x in y

#for:x in range(10):
        #print(x)
for n in name:
    print(n)

num_list ='123456789'
    for n in num_list:
        print(n)

S
1
2
3
4
5
6
7
8
9
a
1
2
3
4
5
6
7
8
9
r
1
2
3
4
5
6
7
8
9
a
1
2
3
4
5
6
7
8
9
h
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [67]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [68]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [69]:
for n in name:
    pass #TODO need to come back and finish this

##### Double For Loops

In [70]:
for i in range(5):
    for j in range(5):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4

### While Loops

In [72]:
#While keyword, condition statement

v = 0
while v < 10:
    print(v)
    v += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [73]:
game_over = False

while True:
    print('Infinite loop - DON\'t do this!!!')
    if game_over == False:
        break

Infinite loop - DON't do this!!!

##### While & For Loops Used Together

In [76]:
num = 0

while num < 5:
    print(f'while loop iteration: {num}', '\n')
    
    for x in range(3):
        print(f'for loop iteration:{x}')
    num += 1

while loop iteration: 0

for loop iteration:0
for loop iteration:1
for loop iteration:2
while loop iteration: 1

for loop iteration:0
for loop iteration:1
for loop iteration:2
while loop iteration: 2

for loop iteration:0
for loop iteration:1
for loop iteration:2
while loop iteration: 3

for loop iteration:0
for loop iteration:1
for loop iteration:2
while loop iteration: 4

for loop iteration:0
for loop iteration:1
for loop iteration:2

### Built-In Functions

##### range()

In [81]:
# start, stop(non-inclusive), step
for x in range(10):
    print(x)
print('\n')
for x in range(0, 10, 1):
    print(x)
print('\n')
for x in range(1, 10, 2):
    print(x)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9


1
3
5
7
9

##### len()

In [84]:
for i in range(len(name)): #for n in name
    print(name[i], i)
    
print(len(name))

S 0
a 1
r 2
a 3
h 4
5

##### help()

In [87]:
help(n)

No Python documentation found for 'h'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

##### isinstance()

In [96]:
# check a variable to see if it's a member of an object family
#isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("this is a float!")

False
this is a float!

##### abs()

In [97]:
num = -5

print(abs(num))

5

### Try and Except

In [103]:
# us this when we expect to encounter a bug but we don't want the program to stop/crash/etc.
#try:keyword: code to execute
#except keyword: what to do 

try:
    number_test = 0
    input_num = int(input('Guess a number!'))
    if input_num == number_test:
        print(f'Your number is {str{input_num)'}
except:
    print('that did not work')

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (1611386623.py, line 9)

### Lists

##### Declaring Lists

In [105]:
l_1 = []
print(l_1, type(l_1))

name_list = ['sarah', 'penelope', 'mom', 'dad']
print(name_list)

[] <class 'list'>
['sarah', 'penelope', 'mom', 'dad']

##### Indexing a List

In [107]:
for i in range (len(name_list)):
        print(i, name_list[i])
        
print(name_list[3])

0 sarah
1 penelope
2 mom
3 dad
dad

In [108]:
print(name_list[3])

dad

In [109]:
#bracket notation - []
#to acces a value - list [<index>]

##### .append()

In [114]:
#list.append(<what we are appending>)
name_list.append('elliott')
print(name_list)

['sarah', 'penelope', 'mom', 'dad', 'dad', 'dad', 'elliott', 'elliott', 'elliott']

##### .insert()

In [115]:
name_list.insert(0, 'elliott')

print(name_list)

['elliott', 'sarah', 'penelope', 'mom', 'dad', 'dad', 'dad', 'elliott', 'elliott', 'elliott']

##### .pop()

In [116]:
print(name_list.pop())

print(name_list)

elliott
['elliott', 'sarah', 'penelope', 'mom', 'dad', 'dad', 'dad', 'elliott', 'elliott']

In [120]:
name_list.pop(0)
print(name_list)

['mom', 'dad', 'dad', 'dad', 'elliott', 'elliott']


##### .remove()

In [124]:
name_list.append('elliott')
name_list.append('elliott')
name_list.append('elliott')
name_list.append('elliott')
print(name_list)

['mom', 'dad', 'dad', 'dad', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott']

In [125]:
name_list.remove('elliott')
print(name_list)

['mom', 'dad', 'dad', 'dad', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott']

##### del()

In [126]:
# index to be removed, not the value
#BE CAREFUL

del (name_list[3])
print(name_list)

['mom', 'dad', 'dad', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott', 'elliott']

##### Concatenating Two Lists

In [128]:
# will append lists together, not add up the elements in each list

l_2 =[0, 1, 2]
l_3 = [3, 4, 5]

combo = l_2 + l_3
print(combo)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [131]:
#lists can hold any type of element, even more lists!
#they can be nested several layers deep

new_names =['max', 'sam', 'josh',['bill', 'sally']]
print(new_names)
print(new_names[3])

print(new_names[0])

['max', 'sam', 'josh', ['bill', 'sally']]
['bill', 'sally']
max

##### Looping Through Lists

In [134]:
# two basic ways: by index or by the 'in' word

for n in name_list:
    print(n)
print('\n')
for i in range(len(name_list)):
    print(name_list[i])

mom
dad
dad
elliott
elliott
elliott
elliott
elliott
elliott
elliott


mom
dad
dad
elliott
elliott
elliott
elliott
elliott
elliott
elliott

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
x=[]
for i in range(1,11):
        x.append(i**3)
print(x)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for number in range(1,101):
        count = 0
        for i in range(2,(number//2 +1)):
                if(number % i == 0):
                        count = count +1
                        break
        if (count == 0 and number !=1):
                print(number)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("What is your age:"))
if age < 18:
        print("kids")
elif age <= 65:
        print("adults")
else:
        print("seniors")